h3{
    font-family: 'Bebas Neue', sans-serif;  
}

.navigator{
    font-family: 'Bebas Neue', sans-serif; 
    float: left; 
    margin-left: 40px; 
    padding-top: 7px;
    color: black;

}

.navigator:hover, .logo:hover, .user:hover{
    color: #ffbf00;
}

.logo{
    font-family: 'Bebas Neue', sans-serif; 
    float: left; 
    margin-left: 50px; 
    margin-top: 20px;

}

.slogan{
    font-family: 'Bebas Neue', sans-serif;
    float: left;
    margin-left: 50px; 
    margin-top: 0%;
}

.booknow{
    font-family: 'Bebas Neue', sans-serif; 
    float: left; 
    margin-left: 10px; 
    margin-right: 200px;
    padding-top: 20px;
}

.user{
    font-family: 'Bebas Neue', sans-serif;
    float: right;
    margin-top: 10px;
    margin-left: 5px;
}

/* Das ist dein normales Styling für das Band-Element */
.band {
    position: relative;
    animation: moveBand 20s linear infinite; /* Hier wird die Animation angewendet (5s Dauer, linearer Verlauf, unendlich wiederholen) */
  }
  
  @keyframes moveBand {
    to {
      transform: translateX(100%); /* Bewege das Element um 100% der eigenen Breite nach rechts */
    }
  }
  
  