/*Grundeinstellungen*/
body{
    font-family: 'Bebas Neue', sans-serif;
    background-color: #e9e9e9;
    color: black;
}

a {
    color: white;
    text-decoration: none;
  }

/*EInstellungen für alle Icons*/
.icon1 {
    color: white; /* Standardfarbe */
    transition: color 0.3s; /* Füge eine sanfte Übergangsanimation hinzu */
  }

.icon1:hover {
    color: #ffbf00; /* Farbe bei Hover-Zustand ändern */
  }

p{
    font-family: 'Bebas Neue', sans-serif;
    color: #000000;
}

/*EInstellungen für alle Icons*/
.icon1 {
    color: white; /* Standardfarbe */
    transition: color 0.3s; /* Füge eine sanfte Übergangsanimation hinzu */
  }

.icon1:hover {
    color: #ffbf00; /* Farbe bei Hover-Zustand ändern */
  }

/*Header*/
.header {
    width: 1475px;
    height: 90px; 
    color:black; 
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; /* Fixiert die Navigation am Bildschirm */
    z-index: 1001;
    line-height: 100px;
}

.headerBackground {
    width: 1920px;
    height: 90px; 
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed; /* Fixiert die Navigation am Bildschirm */
    z-index: 1000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    top: 0px;
}

.headerSpacer {
    width: 100%;
    height: 80px; 
    top: 0px;
}

.headerLogo {
    width: 300px;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headerPuffer {
    width: 50px;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headerNavigation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 775px;
    height: 90px;
}

.headerLogin {
    width: 300px;
    height: 90px; 
}

h3{
    font-family: 'Bebas Neue', sans-serif;  
}

/*Suchleiste im Header*/
.navigator{
    font-family: 'Bebas Neue', sans-serif;  
    color: black;
    transition: transform 0.2s ease-in-out;
    font-size: 32px;
    font-weight: 400;
}

.navigator:hover{
    color: #ffbf00;
    transform: scale(1.1);
}

/*Drive Logo*/
.logo{
    font-family: 'Bebas Neue', sans-serif; 
    font-size: 64px;
    transition: transform 0.2s ease-in-out;
    font-family: 'Bebas Neue', sans-serif; 
    color: black;
    line-height: 128px;
}

.logo:hover{
    color: #ffbf00;
    transform: scale(1.1);
}

.booknow{
    font-family: 'Bebas Neue', sans-serif; 
    font-size: 32px;
    margin-left: 10px; 
    padding-top: 20px;
}

/*Anmeldebutton*/
.button1{
    color: white;
    background-color: black;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
    float: right;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    transition-duration: 0.2s;
    padding: 5px 10px;

}

.button1:hover{
    background-color: #ffbf00;
}

/* Das ist dein normales Styling für das Band-Element */
.band {
    position: relative;
    animation: moveBand 20s linear infinite; /* Hier wird die Animation angewendet (5s Dauer, linearer Verlauf, unendlich wiederholen) */
  }
  
  @keyframes moveBand {
    to {
      transform: translateX(100%); /* Bewege das Element um 100% der eigenen Breite nach rechts */
    }
  }
/*Register/Login*/
#background-image {
    margin: 0;
    padding: 0;
    background-image: url(bilder/carpixel1.jpg);
    background-repeat: no-repeat;
    background-position: cover;
    display: flex;
    justify-content: center;
    width: 1920px;
    height: 840px;
} 
.LogRegWel-title {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 30px;
}

.LogRegWel-container {
    background-color: #e9e9e9; 
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.3);
    text-align: center;
    display: flex;
    height: fit-content;
    flex-direction: column;
    margin: 10% 0 10% 0;
    width: min-content;
}

.register-form input { 
    width: 90%;
    height: 30px;
    border: none;
    display: flex;
}
.login-form input { 
    width: 450px;
    height: 30px;
    border: none;
    background-color: white;
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.3);
}
.login-table {
    border: none;
    width: 100%;
    padding: 20px;
    font-size: 24px;
    min-inline-size: 500px;
}
.register-table {
    border: none;
    width: 100%;
    padding: 20px;
    font-size: 24px;
    min-inline-size: 800px;
}
.register-td {
    align-items: center;
    justify-content: center;
}
#LogReg-Link {
    color: #000000;
    text-decoration: underline;
}
.LogRegWel-button {
    background-color: #FFE600;
    color: black;
    padding: 10px;
    margin: 10px;
    border: none;
}
.loginRegisterError {
    color: red;
}
.SloganLogRegWel { 
    font-family: 'Bebas Neue', sans-serif;
    font-size: 64px;
    width: 1920px;
    height:70px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
    margin-left: 0px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 0px;
}

/*Willkommen und Logout*/
.welcomeLogout-Div { 
    width: 100%;
    min-inline-size: 300px;
  }

/*!!Produktübersichtseite!!*/
.p2{
    list-style-type: none;
    color: black;
}

/*Buchungsfortschrittsbalken*/
.progress{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#filterdropdown{
    color: black;
    background-color: white;
    border: solid 1px #ffbf00;
    border-radius: 5px;
    text-align: left;
    font-size: 15px;
    width: 100px;
    height: 25px;
    cursor: pointer;
    font-family: 'Bebas Neue', sans-serif;
}

#fromprogress,
#toprogress{
    display: flex;
    background-color: white;
    color: #000000;
    border-radius: 5px;
    border: solid 1px #ffbf00;
    width: 100px;
    cursor: pointer;
    font-family: 'Bebas Neue', sans-serif;
}

#progress1,
#progress2,
#progress3{
    color: black;
    width: 493px; 
    height: 90px; 
    border: solid 2px black; 
    background-color: #ffbf00; 
    border-radius: 5px;
    box-shadow: 0px 0px 5px;
}

/*Schattierung des Buchungsfortschrittsbalken beim Hovern*/
.progress1:hover{
    text-transform: 0.5s;
    box-shadow: 5px 5px 20px #888888;
}


/* order page */
.background-banner {
  /* background-image: url(bilder/Hintergrundvideo.jpg); */
    width: 1920px;
    height:480px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.firstName-banner {
  font-size: 200px;
  color: white;
}
.SloganOrders { 
    font-family: 'Bebas Neue', sans-serif;
    font-size: 64px;
    width: 1920px;
    height:70px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
    margin-left: 0px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.orders {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 100px;
}

.orderText{
    color: #000000;
}

.orderTextLight{
    color: rgb(199, 199, 199);
}

.orderDiv {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.ordersTitle { 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 100%; 
    text-align: center; 
    margin:0; 
    font-size:50px;
    background-color: white;
}

.yourDataDivTitle{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 100%; 
    text-align: center; 
    margin:0; font-size:50px; 
    background-color: white;
}

.ordersSpacer {
    width: 100%;
    height: 20px;
}

.orderTable {
  width: 100%;
  column-gap: 8px;
  background-color: white; 
  text-align: center;
  border: none;
  font-size: 24px;
}
.orderTableHeader {
  font-size: 30px;
  font-weight: bold;
  background-color: white;
}

.orderTabletr{
    width: 14.2857143%;
    height: 50px;
    margin: auto;
}

.orderTabletd{
    width: 14.2857143%;
    height: 50px;
    margin: auto;
}

.orderTableLastRow{
    width: 14.2857143%;
    height: 50px;
    margin: auto;
    background-color: white;
}

.orderTabletr:nth-child(even){
  background-color: #e9e9e9;
  color: black
}
.orderTabletr:nth-child(odd){
    background-color: #b9b9b9;
    color: white;
  }
.data {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.noBookingsText {
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif; 
    font-weight: 200;
    color: grey;
    margin-top: 30px;
    margin-bottom: 60px;
  }
  

.YourDataDiv {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.YourDataTable {
  width: 100%;
  text-align: center;
  background-color: #e9e9e9;
  font-size: 24px;
}
.myDataInput {
  width: 400px;
  height: 30px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding-right: 30px;
}
/* Icon Styling when hover over field */
.input-container {
  position: relative;
  display: inline-block;
}
.fas {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  display: none;
}
.myDataInput:hover + .fas,
.myDataInput:focus + .fas {
  display: inline-block;
  width: 20px;
  height: 20px;
}
/* submit-button */
.myDataButton {
    background-color: #ffbf00;
    color: black;
    margin: 10px 0 10px 0;
    width: 120px;
    height: 40px;
    box-shadow: 0px 0px 5px #888888;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    border-radius: 10px;
    border: solid 4px #ffbf00;
    transition-duration: 0.2s;
    cursor: pointer;
}

.myDataButton:hover{
    background-color: white;
}

.myDataButton:active{
        background-color: #ffbf00;
        transform:translateX(4px);
}

/*Filterelement*/
.filtercolumn{
    height: 1500px; 
    width: 350px; 
    background-color: white; 
    box-shadow: 3px 5px 10px #888888; 
    border-radius: 5px;
}

    /*Filterüberschrift*/
    .filtertitel{
        width: 350px; 
        height: 60px; 
        background-color: black; 
        display: flex; 
        align-items: center; 
        border-top-right-radius: 5px; 
        border-top-left-radius: 5px;
    }

/*Vorsortierung Preis*/
#sortby{
    color: black;
    background-color: white;
    box-shadow: 0px 0px 5px #888888;
    border-radius: 5px;
    border: solid 2px #ffbf00;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: left;
    font-size: 20px;   
    font-family: 'Bebas Neue', sans-serif; 
}

/*Vorsortierbutton*/
#buttongo{
    color: black;
    background-color: white;
    box-shadow: 0px 0px 5px #888888;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    border-radius: 10px;
    border: solid 4px #ffbf00;
    transition-duration: 0.2s;
    margin-left: 5px;
    cursor: pointer;
}

#buttongo:hover{
    background-color  : #ffbf00;
}

#buttongo:active{
    background-color: #ffbf00;
    transform: translateX(4px);    
  }

/*Löschen, Anwendungsbutton*/
.buttonproduktübersicht1{
    width: 143px;
    height: 48px;
    color: black;
    background-color: white;
    box-shadow: 0px 0px 5px #888888;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    border-radius: 10px;
    border: solid 4px #ffbf00;
    transition-duration: 0.2s;
    margin-right: 10px;
    cursor: pointer;
}

.buttonproduktübersicht1:hover{
    background-color: #ffbf00;
}

.buttonproduktübersicht1:active{
    background-color: white;
    transform:translateX(-4px);
  }

.buttonproduktübersicht2{
    width: 143px;
    height: 48px;
    color: black;
    background-color: #ffbf00;
    box-shadow: 0px 0px 5px #888888;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    border-radius: 10px;
    border: solid 4px #ffbf00;
    transition-duration: 0.2s;
    cursor: pointer;
}

.buttonproduktübersicht2:hover{
    background-color: white;
}

.buttonproduktübersicht2:active{
        background-color: #ffbf00;
        transform:translateX(4px);
      }


/*Filterspalte*/

/*Filterstyle*/
.filterheader{
    font-size: 24px;
    color: #000000;
}

/*kleiner Reseter unter Einzelfilter*/
.resetFilter{
    font-size: 12px;
    color: black;
    background-color: white;
    box-shadow: 0px 0px 5px #888888;
    font-family: 'Bebas Neue', sans-serif;
    border-radius: 1px;
    border: solid 1px #ffbf00;
    transition-duration: 0.2s;
    cursor: pointer;
    align-items: right;
}

.resetFilter:active{
    transform: translateX(4px);
}

/*Einzelfilter*/
.filterdropdown{
    color: black;
    background-color: white;
    box-shadow: 0px 0px 5px #888888;
    border-radius: 5px;
    border: solid 2px #ffbf00;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: left;
    font-size: 20px;
    width: 300px;
    height: 50px;
}

.filterdropdown:hover{
    box-shadow:rgba(51, 51, 51, 0.3);
}

#filterdropdown1,
#filterdropdown2,
#filterdropdown3,
#filterdropdown4,
#filterdropdown5,
#filterdropdown6,
#filterdropdown7,
#filterdropdown8{
    color: gray;
    background-color: white;
    box-shadow: 0px 0px 5px #888888;
    border-radius: 5px;
    border: solid 2px #ffbf00;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: left;
    font-size: 20px;
    width: 300px;
    height: 50px;
    cursor: pointer;
    font-family: 'Bebas Neue', sans-serif;
}
 
/*Checkboxfilter*/
.checkboxgeneral{
    align-items: center;
    display: flex;
    font-size: 25px;
    margin-left: 20px;
    color: black;
    background-color: white;
    box-shadow: 0px 0px 5px #888888;
    border-radius: 5px;
    border: solid 2px #ffbf00;
    width: 300px;
    height: 50px;     
}

.checkboxgeneral p{
    padding-left: 10px;
}

#checkboxoverview3:active{
    background-color: #ffbf00;
}

#checkboxgeneral:active{
    background-color: #ffbf00;
}

#checkboxgeneral2:active{
    background-color: #ffbf00;
}

#checkboxgeneral3:active{
    background-color: #ffbf00;
}

/*Auswahlkästchen*/
.checkmarkcolumn{
    height: 20px;
    width: 20px;
    background-color: #eee;
    margin-left: auto;
    margin-right: 15px;
    cursor: pointer;
}

.checkmarkcolumn:active{
    background-color: #ffbf00;
}


/*Autozelle*/
.car-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.autozelle{
    font-family: 'Bebas Neue', sans-serif;
    background-color: white; 
    width: 350px; 
    height: 360px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 7px;
    cursor: pointer;
    margin: 12px;
    box-sizing: border-box;
}

.autozelle:hover{
    border-color: black;
}

.autozelle:active{
    transform: translateY(3px);
}

/*Überschrift für die Autozellen*/
.autozellenheader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    color: black;  
    font-size: 32px; 
    width: 350px;
    height: 60px;
    box-sizing: border-box;
    padding-top: 6px;
}

.autozellenheader p{
    margin: 0;
}

/*Autozellenbild*/
.zellenimage1{
    max-width: 100%;
    height: auto;
}
.zellenimage{
    width: 100%;
    height: 100%;
    
}

/*weitere Daten für Autozelle*/
.zellenfooter{
    width: 100%;
    height: 90px;
    text-align: center;
    box-sizing: border-box;
}

.zellenfooter1{
    font-size: 20px;
    text-align: center;
    color: #888888;
    margin: 0;
    padding-top: 9px;
}

.zellenfooter2{
    font-size: 32px;
    text-align: center;
    margin: 0;
}

/*Container für Nichtverfügbarkeit*/
#notavailable{
    height: auto;
    width: 700px;
    margin-left: 220px;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0px 0px 5px;
    background-color: white;
    border-radius: 5px;
}

/*Seitennavigator unter Produktübersicht*/
.pagination{
    display: inline-block;
    font-size: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 350px;
}

.pagination a{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active{
    background-color: #ffbf00;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }


/*Buchungsabschlussseite*/
.buchungsabschluss-table {
    border: none; 
    width: 1145px; 
    height: 358px; 
    border-collapse: collapse;
}
.buchungsabschluss-table p {
    padding-left: 5px;
}
#rent{
    display: flex; 
    align-items: center; 
    flex-direction: column;
    width: 1225px; 
    height: 600px;  
    background-color: white;
    box-shadow: 0px 0px 10px;
    border-radius: 5px;
    font-family: 'Bebas Neue', sans-serif;
}

/*Buchungsbutton*/
#book{
    width: 300px;
    font-size: 32px;
    color: black;
    background-color: #ffbf00;
    box-shadow: 0px 0px 5px #888888;
    font-family: 'Bebas Neue', sans-serif;
    border-radius: 10px;
    border: solid 4px #ffbf00;
    transition-duration: 0.2s;
    cursor: pointer;
    float: right;
    margin-left: 20px;
}

#book:hover{
    background-color: white;
    border-radius: 10px;
}

#book:active{
        background-color: #ffbf00;
        transform:translateX(4px);
}

/*Buchung abbrechen*/
#resetbook{
    width: 300px;
    font-size: 32px;
    color: black;
    background-color: white;
    box-shadow: 0px 0px 5px #888888;
    font-family: 'Bebas Neue', sans-serif;
    border-radius: 10px;
    border: solid 4px #ffbf00;
    transition-duration: 0.2s;
    cursor: pointer;
}

#resetbook:hover{
    background-color: #ffbf00;
    border-radius: 10px;
}

#resetbook:active{
        background-color: white;
        transform:translateX(4px);
}

/* CSS-Code for AGB, Datenschutz and Impressum start*/

/*Frame for Title and Subtitle*/
.FrameTitelUntertitel{
    width: 1920px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Frame for Title inside FrameTitleSubtitle to align Text*/
.FrameTitel{
    width: 1475px;
    height: 60px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

/*Frame for Title inside FrameTitle to align Text*/
.InnerframeTitel{
    width: 1415px;
    height: 60px;
    display: flex;
    align-items: center;
    text-align: left;
    background-color: white;
}

/*Style title font*/
.TextTitel{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    padding-left: 30px;
    padding-right: 30px;
}


/*Frame for Subtitle inside FrameTitleSubtitle to align Text*/
.FrameSubtitle{
    width: 1475px;
    height: 30px;
    display: flex;
    justify-content: center;
}

/*Frame for Title inside FrameTitle to align Text*/
.InnerframeSubtitle{
    width: 1415px;
    height: 30px;
    display: flex;
    align-items: center;
    text-align: left;
    background-color: white;
  
}

/*Style subtitle font*/
.TextSubtitle{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 22px;
    font-weight: 600;
    padding-left: 30px;
    padding-right: 30px;
}

/*Frame for Content*/
.FrameContent{
    width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px; /* Abstand zum Footer */
}

/*Frame to align Content-Text*/
.InnerFrameContent{
    width: 1415px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

/*Style context-heading font*/
.TextContentHeader{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 200%;
    padding-left: 30px;
}

/*Style context font*/
.TextContent{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
    padding-left: 30px;
    padding-right: 30px;
}

/* CSS-Code for AGB, Datenschutz and Impressum end*/

/* CSS AboutUs start */

/* Stil für den weißen Banner mit Slogan */
.WirSindDrive {
    width: 1920px;
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
    box-shadow: 0px 4px 8px #a9a9a9; /* Adds a shadow to the Banner-frame */
}

.WirSindDrive h1 {
    margin: 0;
}

/* Stil für die Teammitglieder */
.FrameAboutUs {
    width: 1920px;
    display: flex;
    flex-direction: column;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.upper-row, .lower-row {
    width: 100%; /* Setze die Breite auf 100% für die Zeilen */
}

.team-member {
    text-align: center;
    flex-direction: column; /* Stellt sicher, dass die Elemente in Spalten angeordnet sind */
    justify-content: center;
    width: 505px;
    margin: 30px;
    box-sizing: border-box; /* Berücksichtigt Padding und Border in der Breite */
    background-color: #fff;
    padding: 30px;
    box-shadow: 0px 4px 8px #777; /* Adds a shadow to the member-frame */
}

.team-member-name{
    text-shadow: 0px 4px 8px rgb(176, 176, 176);
    font-size: 64px;
    margin-bottom: 10px; /* Reduziert den Abstand zu .team-member-title*/
}

.team-member-title{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #808080;
    text-shadow: 0px 4px 8px rgb(225, 225, 225);
    margin-bottom: 20px; /* Erhöht den Abstand zu .quote */
}

.team-member-lieblingsauto{
    display: flex;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #808080;
}

.Lieblingsauto-Bold{
    display: flex;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-align: left;
    display: inline-block; /* Setze das Display auf inline-block, um es nebeneinander anzuordnen */
}

.Lieblingsauto-Text {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #808080;
    display: inline-block; /* Setze das Display auf inline-block, um es nebeneinander anzuordnen */
    text-align: right; /* Füge die rechte Ausrichtung hinzu */
    flex-grow: 1; /* Nutze den verfügbaren Platz aus, um den Text nach rechts zu drücken */
}


.member-image {
    width: 420px;
    height: 420px;
    background: radial-gradient(circle at bottom, #8b93a1, rgb(9, 9, 15)); /* Ein Farbverlauf für einen einheitlichen Hintergrund der bilder */
    margin: 0 auto 10px; /* Setze den oberen und unteren Rand auf 0 und den seitlichen Rand auf auto */
    margin-bottom: 10px;
    border-radius: 50%;
}

.quote {
    font-style: italic;
    font-family: 'Source Sans 3', sans-serif;
    font-size:24px;
    margin-bottom: 5px; /* Füge einen kleinen Abstand zwischen Zitat und Kontakt hinzu */
}

.AboutUsContact {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 600;
    font-size: 1em;
    color: #777;
    line-height: 1.4;
}

/* CSS About Us end */

/* CSS-Code for FAQ start */

/*Outer Frame for Info*/
.FrameInfoFAQ{
    width: 1920px;
    height: 650px;
    padding-top: 60px;
    margin-bottom: 60px;
    display: flex;
    align-content: top;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Inner Frame for Info*/
.FrameContentInfoFAQ{
    width: 1475px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column; 
    align-items: top; 
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/*Frame for Title and Subtitle inside .FrameContentInfoFAQ*/
.FrameTitleSubtitleFAQ{
    width: 1475px;
    height: 150px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Frame for Subtitle inside .FrameTitleSubtitleFAQ*/
.FrameSubtitleFAQ{
    width: 1275px;
    height: 60px;
    display: flex;
    align-items: flex-start; 
    justify-content: flex-start;
    flex-direction: row; 
}

/* Font Style for Subtitle FAQ*/
.SubtitleFAQ{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: grey;

}

/*Frame for Title inside .FrameTitleSubtitleFAQ*/
.FrameTitleFAQ{
    width: 1275px;
    height: 90px;
    display: flex;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

/*Font Style for FAQ Title */
.TitleFAQ{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 64px;
    font-weight: 400;
}

/*Frame for Info Text*/
.FrameTextInfoFAQ{
    width: 100%; 
    height: calc(100% - 150px); 
    padding: 0;
}

/*Text inside FrameTextInfoFAQ*/
.InnerFrameTextInfoFAQ{
    width: 1275px; 
    height: 100%; 
    margin: auto; 
}

/*Font Style for Text Info Text*/
.TextInfoFAQ{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-align: justify;
    line-height: 1.5;
    margin: 0 0 20px 0;

}

/* CSS-Code for FAQ end */

/* CSS-Code for News and Story start*/

/*Page Banner start*/
/*Frame for page banner*/
.FramePageBanner{
    width: 1920px;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

/*Main article picture inside FramePageBanner*/
.MainPictureNews{
    width: 1475px;
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: url(bilder/MainPictureNews.jpg);
}

/*Main article picture inside FramePageBanner*/
.MainPictureStory{
    position: relative;
    width: 1475px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.MainPictureStory img {
    position: absolute; /* Absolute Positionierung innerhalb des .MainPictureStory Containers */
    z-index: 10; /* Stellt sicher, dass das Bild über anderen Elementen liegt */
}

.SloganNewsAndStory { 
    font-family: 'Bebas Neue', sans-serif;
    font-size: 64px;
    width: 1920px;
    height:70px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
    margin-left: 0px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/*Main Article start*/
/*Frame for main article*/
.FrameMainArticleNews{
    width: 1920px;
    height: 1590px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
/*Frame for main article*/
.FrameMainArticleStory{
    width: 1920px;
    height: 1770px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

/*Frame for Content inside FrameMainArticle*/
.FrameContentMainArticleNews{
    width: 1475px;
    height: 1470px;
    display: flex;
    flex-direction: column; 
    align-items: top; 
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
/*Frame for Content inside FrameMainArticle*/
.FrameContentMainArticleStory{
    width: 1475px;
    height: 1650px;
    display: flex;
    flex-direction: column; 
    align-items: top; 
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/*Frame for Title and Subtitle inside FrameContentMainArticle*/
.FrameTitleSubtitleContentMainArticle{
    width: 1475px;
    height: 150px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Frame for Subtitle inside FrameTitleSubtitleContentMainArticle*/
.FrameSubtitleContentMainArticle{
    width: 1275px;
    height: 60px;
    display: flex;
    align-items: flex-start; 
    justify-content: flex-start;
    flex-direction: row; 
}

/*Frame for Title inside FrameTitleSubtitleContentMainArticle*/
.FrameTitleContentMainArticle{
    width: 1275px;
    height: 90px;
    display: flex;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

/*Text Style for Subtitle inside Main Article*/
.SubtitleMainArticle{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: grey;

}

/*Text Style for Title inside Main Article*/
.TitleMainArticle{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 64px;
    font-weight: 400;
}

/*Frame for Text inside FrameContentMainArticle*/
.FrameTextContentMainArticle{
    width: 100%; 
    height: calc(100% - 150px); 
    padding: 0;
}

/*Text inside FrameTextContentMainArticle*/
.TextContentMainArticle{
    width: 1275px; 
    height: 100%; 
    margin: auto; 
    
}

/*Text Style for Text inside Main Article*/
.TextMainArticle{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-align: justify;
    line-height: 1.5;
    margin: 0 0 20px 0;

}

/*Bold Text Style for Highlight Text*/
.boldText {
    font-weight: bold;
}

/*Frame for Titel More Articles*/
.FrameTitleMoreArticles {
    width: 1920px;
    height: 90px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*InnerFrame for Title More Articles inside FrameTitleMoreArticles*/
.InnerFrameTitleMoreArticles {
    width: 1475px;
    height: 90px;
    display: flex;
    align-items: flex-end; 
    justify-content: flex-start; 
    padding-left: 10px; 
    padding-bottom: -20px;
}

/*Text Style for Title for More Articles*/
.TitleMoreArticles{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 30px;
    font-weight: 400;

}

/*More Articles start*/
/*Frame for MoreArticles*/
.FrameMoreArticles{
    width: 1920px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Frame for Content inside MoreArticles*/
.InnerFrameMoreArticles{
    width: 1475px;
    height: 100%; 
    margin: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Changing the Style of the Accordion Element with #accordion, 
overwriting the standard style of the accordion by using a css-selector*/

/*Text style for Titles inside Accordion*/
#accordion .TitelMoreArticles{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 48px;
    font-weight: 400;
}

.TextMoreArticles {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-align: justify;
    line-height: 1.5;
    margin: 0 auto; 
    max-width: 1275px; 
}

#accordion {
    width: 100%; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

#accordion .ui-accordion-content {
    width: 1400px; 
    display: flex;
    justify-content: center; 
    flex-direction: column;
    margin: auto;
}

#accordion .ui-accordion-header .ui-icon {
    transform: scale(2); 
    margin-top: -4px; 
    margin-left: -4px; 
}

#accordion .ui-accordion-header.ui-state-active {
    background: #ffbf00; 
    color: #ffffff; 
    border-color: #000000; 
}
/* CSS-Code for News and Story end*/


/*Footer*/
footer {
    background-color: black;
    color: white;
    width: 1920px;
  }

.slogan{
    font-family: 'Bebas Neue', sans-serif;
    float: left;
    margin-left: 50px; 
    top:0;
}

.flexcontainer {
    align-items: stretch;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
}

.logofooter{
    font-family: 'Bebas Neue', sans-serif; 
    float: left;  
    margin-top: 20px;
    transition: transform 0.5s ease-in-out;
}

.logofooter:hover{
    color: #ffbf00;
    transform: scale(1.4);  
}

/*Einstellungen für Footer Links*/
.p1{
    transition: color 0.3s;
    font-size: 20px;
    cursor: pointer;
}

.p1:hover{
    color: #ffbf00;
}

/*Einstellungen für AGB/Impressum/Datenschutz*/
.legal{
    color: white;
    /* position: absolute;
    width: 1920px; 
    bottom: 0; */
    float: right; 
    font-size: 30px;
    margin: 50px;
    text-align: center;
    transition: color 0.3s;
    cursor: pointer;

}

.legal:hover{
    color: #ffbf00;
}

/*Homepage*/

/*Schnellfilter*/
.hintergrundschnellsuche{
    width: 1920px;
    height:480px;
    position: relative;
    display: flex;
    align-items: center;
}

.hintergrundvideo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;/*Damit das Video im Hintergrund läuft*/
}

.schnellsuche{
    margin: auto;
    z-index: 1;/*Damit die Fiter im Vordergrund stehen*/
    height: 240px;
}

.schnellsuchetitel{
    font-size: 36px;
    height: 60px;
    width: 1475px;
    background-color: #FFFFFF;
    display: flex; /* Verwende Flexbox für vertikale Ausrichtung */
    align-items: center; /* Zentriere den Inhalt vertikal */
}

.schnellsuchetitel p{
    margin: 0;
    padding-left: 15px;
}

.schnellsucheformular{
    width: 1475px;
    height: 120px;
    background-color: #ffbf00;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.schnellsucheformular form{
  margin: auto; 
  box-sizing: border-box;
}


.schnellfilter{
    float:left;
    width: 300px;
    height: 85px;
    font-size: 22px;
    box-sizing: border-box;
    margin-right: 50px;
}

.schnellfilter:last-child {
    margin-right: 0; /* Kein Abstand für das letzte Element */ 
}


.schnellfilter label {
    font-size: 22px;
    font-family: 'Source Sans 3', sans-serif;
    box-sizing: border-box;
}


.schnellfilter input {
    width: 300px;
    height: 60px;
    line-height: 60px; 
    font-size: 24px;
    border: none;
    font-family: 'Source Sans 3', sans-serif;
    padding-left: 5px;
    color: #808080;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}

.schnellfilter select{
    width: 300px;
    height: 60px;
    line-height: 60px; 
    font-size: 24px;
    border: none;
    padding-left: 5px;
    color: #808080;
    cursor: pointer;
}

/*Kalenderdesign*/
.date-picker-container {
    display: flex;
  }

.ui-datepicker {
    width: 300px;
    background-color: #e9e9e9;
    color: black; 
}

.ui-datepicker-header {
    background-color: #ffbf00; 
    color: white;
    cursor: pointer;
}


.ui-datepicker-calendar td {
    background-color: #e9e9e9; 
    cursor: pointer;
}


.ui-datepicker-calendar .ui-state-active {
    background-color: #ffbf00;
    cursor: pointer;
}

#from,
#to{
    width: 150px;
    float: left;
}


#from{
    border-right: 2px solid #ffbf00;
}

/*Filterbutton*/
.schnellfilter button{
    width: 300px;
    height: 60px;
    background-color: #e9e9e9;
    border: none;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
}


.mehrfilter{
    height:60px;
    width: 1475px;
    background-color: #FFFFFF;
    font-size: 24px;
    display: flex; /* Verwende Flexbox für vertikale Ausrichtung */
    align-items: center; /* Zentriere den Inhalt vertikal */
}

/*Button zum Ausklappen der zusätzlichen Filter*/
.mehrfilter div button{
    width:170px;
    height:40px;
    font-size: 24px;
    background-color: #e9e9e9;
    border: 2px solid #ffbf00;
    font-family: 'Source Sans 3', sans-serif;
    cursor: pointer;
}

.zusaetzlichedetails{
    float:left;
    width: 300px;
    height: 85px;
    font-size: 22px;
    box-sizing: border-box;
    margin-right: 50px;
    cursor: pointer;
}

.zusaetzlichedetails select{
    width: 300px;
    height: 60px;
    line-height: 60px; 
    font-size: 24px;
    border: none;
    padding-left: 5px;
    color: #808080;
    cursor: pointer;
}

.zusaetzlichedetails label{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 22px;
}

.zusaetzlichedetails:last-child {
    margin-right: 0; /* Kein Abstand für das letzte Element */ 
}


.zusatz{
    background-color: #FFFFFF;
    width: 1475px;
    height: 110px;
    opacity: 0;
    background-color: #ffbf00;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mehrfilter div{
    padding-left: 5px;
}

/*Das ist die Formatierung des Slogans unter dem Übersichtsbild*/
.slogan { 
    font-family: 'Bebas Neue', sans-serif;
    font-size: 64px;
    width:1920px;
    height:70px;
    text-align: center;
    display: flex; /* Verwende Flexbox für vertikale Ausrichtung */
    align-items: center; /* Zentriere den Inhalt vertikal */
    background-color: #FFFFFF;
    margin-left: 0px; /*wenn ich das nicht einstelle, ist da automatisch ein abstand */
    margin-bottom: 60px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.slogan div{
    margin: auto;
}

/*Das ist der gesamte Rahmen um die Unternehmenswerbung, der die "News", "Story" und "Deals" umschließt.*/
.werbung{
    display: flex;
    width:1475px;
    height:480px;
    margin:auto;
    margin-bottom:60px;
}

/*Das ist die Formatierung für den Kasten "News" und "Story".*/
.news,
.story{
    width:475px;
    height:480px;
    float:left;
    margin-right: 25px;
    background-color: #FFFFFF;
    color: #000000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/*Das ist die Formatierung für den Kasten "Deals" Nicht aufnehmen in Formatierung von "News" und "Story", weil an der Stelle ein Abstand nach rechts nicht angestrebt.*/
.deals{
    width:475px;
    height:480px;
    float:left;
    background-color: #FFFFFF;
    color: #000000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);   
}

/*Formatierung für die Werbebilder von "News", "Story" und "Angebote"*/
.werbebilder{
    width:475px;
    height:240px;
}
  
/*Formatierung für die Titel von "News", "Story" und "Angebote"*/
.titelwerbung{
    color: gray;
    font-size: 20px;
    font-family: 'Source Sans 3', sans-serif;
    padding-left: 50px;
    padding-right:60px;
    line-height: 10px;
}

/*Formatierung für die Untertitel von "News", "Story" und "Angebote"*/
.untertitelwerbung{
    font-size: 32px;
    padding-left: 50px;
    padding-right: 60px;
    line-height: 10px;
    font-family: 'Bebas Neue', sans-serif;

}

/*Formatierung für die Texte/Beschreibungen zu "News", "Story" und "Angebote"*/
.beschreibungwerbung{
    font-size: 20px;
    padding-left: 50px;
    padding-right: 60px;
    font-family: 'Source Sans 3', sans-serif;
}

/*Formatierung der weiterführenden Links von "News", "Story" und "Angebote"*/
.werbelinks{
    padding-right: 40px;
    padding-left: 240px;
    color: gray;
    font-size: 20px;
    font-family: 'Source Sans 3', sans-serif;
    text-decoration: underline;
    text-decoration-color: gray;
    text-align:right;
    cursor: pointer;
}

/*Formatierung für den Titel "Unsere Drives"*/
.unseredrives{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 48px;
    width:1920px;
    height:60px;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #FFFFFF;
    margin-top: 0px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/*Formatierung des Gesamtrahmens um die vorgestellten Autos (Karussell).*/
.cslider {
    background-color: #ffffff;
    padding: 40px 0px;
    position: relative;
    height: 225px;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.kategoriename{
    color: #000000;
    font-size: 24px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: bold;
    color: #ffbf00;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
}

.cslider-carousel {
    align-items: center;
    display: flex;
    height: 150px;
    margin: 0 auto;
    max-width: 1400px;
    position: relative;
    z-index: 1;
}

.cslider-item {
    left: 20%;
    opacity: 0;
    position: absolute;
    text-align: center;
    transform: translate(-50%, 0);
    transition: opacity 150ms ease-in-out, width 300ms ease-in-out, transform 300ms ease-in-out, left 300ms ease-in-out;
    width: 10%;
    z-index: 0;
}
@media (min-width: 1200px) {
    .cslider-item {
        left: 5%;
    }
}
.cslider-item img {
    height: auto;
    max-width: 100%;
    width: auto;
}

.cslider-item-selected {
    opacity: 1;
    left: 50%;
    transform: translate(-50%, 0);
    transition: all 300ms ease-in-out, transform 300ms cubic-bezier(0.25, 0.75, 1, 1);
    z-index: 2;
}
@media (min-width: 768px) {
    .cslider-item-selected {
        transition: all 300ms ease-in-out;
    }
}
@media (max-width: 575px) {
    .cslider-item-selected {
        width: 50%;
    }
}
@media (min-width: 576px) {
    .cslider-item-selected {
        width: 40%;
    }
}

.cslider-item-previous,
.cslider-item-next {
    opacity: 1;
    transition: all 300ms ease-in-out;
    width: 20%;
    z-index: 1;
}

.cslider-item-first,
.cslider-item-last {
    opacity: 1;
    transition: opacity 150ms ease-in-out 300ms, width 300ms ease-in-out, transform 300ms ease-in-out, left 300ms ease-in-out;
    width: 10%;
}

@media (max-width: 575px) {
    .cslider-item-previous,
.cslider-item-next {
        opacity: 0;
    }
}

@media (max-width: 1519px) {
    .cslider-item-first,
    .cslider-item-last {
        opacity: 0;
    }
}

.cslider-item-previous {
    left: 20%;
}

.cslider-item-next {
    left: 80%;
}

.cslider-item-first {
    left: 20%;
}
@media (min-width: 1520px) {
    .cslider-item-first {
        left: 5%;
    }
}

.cslider-item-last {
    left: 80%;
}
@media (min-width: 1520px) {
    .cslider-item-last {
        left: 95%;
    }
}

.cslider-text {
    height: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    transition: height 0ms ease-in-out 300ms, opacity 225ms ease-in-out;
    right: 0;
}

.cslider-text p{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    font-style:italic;
}


.cslider-item-selected .cslider-text {
    height: 210px;
    opacity: 1;
    transition: height 0ms, opacity 300ms ease-in-out 300ms;
}

/*Formatierung der Vor-/Zurückpfeile*/
.cslider-prev,
.cslider-next {
    border-color: #ffbf00;
    border-style: solid;
    border-width: 0 4px 4px 0;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 28px;
    margin-top: -14px;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    width: 28px;
    z-index: 2;
    cursor: pointer;
}


.cslider-prev {
    transform: rotate(135deg);
    left: 20px;
}

.cslider-next {
    right: 20px;
}

/*Formatierung der Infos und der Deutschlandkarte*/
.karte{
    margin: auto;
    height: 780px;
    width: 1400px;
    background-color: #FFFFFF;
    margin-bottom: 60px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/*Formatierung der Infos neben der Karte*/
.infos{
    width:400px;
    height: 480px;
    padding-top: 210px;
    font-size: 60px;
    background-color: #FFFFFF;
    padding-left: 10px;
    line-height: 0px;
    float:left;
    display: flex; /* Verwende Flexbox für vertikale Ausrichtung */
    align-items: center; /* Zentriere den Inhalt vertikal */
    flex-direction: column;
}

.infos p{
    color: #ffbf00;
    font-family: 'Source Sans 3', sans-serif;
}

/*Deutschlandkarte und Standorte*/
.ger-map {
    text-align:center;
    position: relative;
    margin: 0 auto;
    max-width: 570px;
}

.ger-map img {
    display: inline-block;
    width: 570px;
    height: 780px;
}

.map-container {
    width: 100%;
    padding-bottom: 40px;
}

.pin {
    background-color: #ffbf00;
    position: absolute;
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
}

.standort:hover {
    cursor: pointer;
}

.pin::before {
    content: '';
    background-color: #ffbf00;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: pulse 1.3s ease-in-out infinite;
}

.standort{
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    left: 1.5em;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border-radius: 3em;
    padding: 0.3em 0.6em;
    font-size: 13px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 500;
}

@keyframes pulse {
    100% {
        opacity: 0;
        transform:
            translate(-50%, -50%)
            scale(2.5);
    }       
}

.map-heading {
    padding: 20px 0;
}

.hamburg {
    top: 20.5%;
    left: 44%;
}

.berlin {
    top: 34%;
    left: 80%;
}

.paderborn {
    top: 44%;
    left: 31.5%;
}

.rostock {
    top: 13.5%;
    left: 67%;
}

.bielefeld {
    top: 40.5%;
    left: 28%;
}

.bochum {
    top: 47.5%;
    left: 13.5%;
}

.dortmund {
    top: 44.5%;
    left: 14%; 
}
.nuernberg {
    top: 70%;
    left: 54%; 
}
.muenchen {
    top: 88%;
    left: 62%;    
}
.leipzig {
    top: 48%;
    left: 70%;
}
.koeln {
    top: 52%;
    left: 15%; 
}
.freiburg {
    top: 92%;
    left: 21%;
}
.dresden {
    top: 53%;
    left: 87%;
}
.bremen {
    top: 26%;
    left: 32%;
}

/*Formatierung des Newsletters*/
.newsletter{
    background-image: url("bilder/Background Newsletter.png");
    width:1920px;
    height: 480px;
    text-align: center;
    color:#FFFFFF;
    font-size: 96px;
    display: flex;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.newsletter div{
    margin: auto;
}

.newsletterform{
    display: flex;
    width: 620px;
    height: 60px;
    margin: auto;
}


.newsletterform button{
    width: 250px;
    height: 60px;
    background-color: #ffbf00;
    font-size: 32px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.newsletterform input{
    width: 350px;
    height: 60px;
    text-decoration: underline;
    font-size: 24px;
    font-family: 'Source Sans 3', sans-serif;
    color: #808080;
    margin-right: 20px;
    box-sizing: border-box;
    padding-left: 10px;
    cursor: pointer;
}

/*Formatierung des Kontaktformulares*/
.contact{
    width: 1920px;
    height: 600px;
    background-image: linear-gradient(#e9e9e9 0%, #e9e9e9 60px, #ffbf00 60px, #ffbf00 540px, #e9e9e9 540px, #e9e9e9 100%); /*am oberen ende des Div Elementes beginnt die farbe grau und erstreckt sich dann 60px, darauf folgt unser orange mit weiteren 480px. Ab den 540 Pixel erstreckt sich wieder grau bis zum Ende (60px).*/
    margin-top: 60px;
    margin-bottom: 100px;
}

.contactinfo{
    padding-top: 150px;
    padding-left: 400px;
    width:550px;
    height: 300px;
    float: left;
}
.mobil{
    margin-bottom: 50px;
}

.standorte{
    margin-bottom: 50px;
}

.überschrift{
    font-size: 32px;
    font-family: 'Bebas Neue', sans-serif;
}

.informationen{
    font-size: 20px;
    font-family: 'Source Sans 3', sans-serif;
}
   
.contactformular {
    width: 600px;
    height: 600px;
    background-color: #FFFFFF;
    float: left;
    margin: auto;
}

.contactformular button {
    width: 225px;
    height: 60px;
    font-size: 32px;
    border: solid #000000;
    background-color: #FFFFFF;
    font-family: 'Bebas Neue', sans-serif;
}

.contactformular button:hover {
    background-color: #ffbf00;
    cursor: pointer;
}

.formular input,
.formular textarea {
    width: 495px;
    height: 34px;
    font-size: 24px;
    border-bottom: 3px solid #000000;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 40px;
    cursor: pointer;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 24px;
}

.formular textarea {
    height: 150px; /* Höhe der Textarea */
}

.contact h1 {
    padding-left: 30px;
    font-size: 50px;
}

.formular{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 24px;
    padding-left: 30px;
}

/*Formatierung des gesamten Contents der Produktdetailseite*/
.produktdetailseite{
    display: flex;
    width: 1470px;
    margin: auto;
    margin-bottom: 100px;
}

/*Formatierung des linken Teils der Produktdetailseite*/
.technischedaten{
    width:1100px;
    height: 1080px;
    flex-direction: row;
    margin-right: 20px;/*Abstand zu den Extrabuchungen*/
    box-sizing: border-box;
}

/*Bild des ausgewählten Fahrzeuges*/
.detailseitebild{
    width:1100px;
    height: 660px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/*Name des Fahrzeuges*/
.fahrzeugname{
    width: 1100px;
    height: 90px;
    font-size: 40px;
    background-color: #FFFFFF;
    border-bottom: 5px groove #e9e9e9;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    margin-top: 24px;
    float: right;
}

.fahrzeugname :last-child{
    margin-right: 0px;
    padding: 5px; /*Damit der Verfügbarkeitskasten keinen Abstand nach rechts hat.*/
}

.fahrzeugname div{
    padding-left: 20px;
    margin-right: 550px;
}

/*Anzeige der verfügbarkeit*/
.verfügbarefahrzeuge{
    font-size: 22px;
    border: solid #ffbf00;
}

/*Box umd die Tabellen, die alle Details enthalten*/
.produktdetails{
    width: 1100px;
    height: 300px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.produktdetails div{
    margin: auto;
}

/*Linke Tabelle der Produktdetails*/
.produktdetailstabelle{
    width:430px;
    height: 214px;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 24px;
    font-weight: bold;
    float: left;
    margin-right: 80px;
}

/*Rechte Seite der Produktdetails*/
.produktdetailstabelle2{
    width:430px;
    height: 214px;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 24px;
    font-weight: bold;
    float: left;
}


.produktdetails td{
    color: #808080;
    width: 50%;
    text-align: right;
}

.produktdetails th{
    width:50%;
    text-align: left;
}

/*Rechter Teil der Produktdetailseite*/
.extras{
    width:350px;
    height: 1080px;
    position: relative;
    box-sizing: border-box;
}

.extrasüberschrift{
    width: 350px;
    height:60px;
    background-color: #000000;
    font-size: 40px;
    display: flex;
    align-items: center;
}

.extrasüberschrift p{
    padding-left: 10px;
    color: #FFFFFF;
}

.extrasüberschrift p::after {
    content: "+";
    margin-left: 200px; /*Damit zwischen dem Pluszeichen und dem Text ein Abstand besteht*/
    font-size: 50px;
}

.extrabuchung{
    width:350px;
    height: 750px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/*Kasten um die Versicherungsoptionen*/
.versicherung{
    width: 300px;
    height: 330px;
    margin: auto;
    box-sizing: border-box;
}

.versicherungueberschrift{
    width: 296px;
    height: 60px;
    font-size: 40px;
    border: 4px solid black; /* Schwarze Umrandung */
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.versicherungueberschrift div{
    margin: auto;
}


/*Checkboxfilter der Versicherungen und Zubehör*/
#checkboxfilter1vz,
#checkboxfilter2vz,
#checkboxfilter3vz{
    align-items: center;
    display: flex; 
    font-size: 20px;
    color: black;
    background-color: white;
    box-shadow: 0px 0px 5px #888888;
    border-radius: 5px;
    border: solid 2px #e9e9e9;
    cursor: pointer;
    width: 300px;
    height: 60px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
}

#checkboxfilter1vz p,
#checkboxfilter2vz p,
#checkboxfilter3vz p{
    padding-left: 10px;
    font-family: 'Source Sans 3', sans-serif;
}

/*Orangene Farbe bei Auswahl*/
#checkboxfilter1vz:active{
    background-color: #ffbf00;
}
 
#checkboxfilter2vz:active{
    background-color: #ffbf00;
}
 
#checkboxfilter3vz:active{
    background-color: #ffbf00;
}
 
/*Auswahlkästchen*/
.checkmarkcolumnvz{
    height: 20px;
    width: 20px;
    background-color: #eee;
    margin-left: auto;
    margin-right: 15px;
    cursor: pointer;
}

/*Kasten um das Zubehör, welches gebucht werden kann*/
.zubehoer{
    width: 300px;
    height: 330px;
    margin: auto;
}

.zubehoerueberschrift{
    width: 296px;
    height: 60px;
    font-size: 40px;
    border: 4px solid black; 
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.zubehoerueberschrift div{
    margin: auto;
}

/*Anzeige des Gesamtpreises*/
.gesamtpreis {
    width: 350px;
    height: 90px;
    background-color: #ffbf00;
    margin-top: 15px;
    margin-bottom: 15px;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.gesamtpreis p {
    padding-left: 20px;
    color: white;
}

#price {
    font-size: 20px;
}
#finalPrice {
    font-size: 40px;
}


.p2{
    list-style-type: none;
}
 
/*Buchungsfortschrittsbalken*/
.progress{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
 
#progress1,
#progress2,
#progress3{
    color: black;
    width: 493px;
    height: 90px;
    border: solid 2px black;
    background-color: #ffbf00;
    border-radius: 5px;
}
 
/*Schattierung des Buchungsfortschrittsbalken beim Hovern*/
.progress1:hover{
    text-transform: 0.5s;
    box-shadow: 5px 5px 20px #888888;
}

 
/*Buchungsbutton*/
#book{
    font-size: 32px;
    color: black;
    background-color: #ffbf00;
    box-shadow: 0px 0px 5px #888888;
    font-family: 'Bebas Neue', sans-serif;
    border-radius: 5px;
    border: solid 4px #ffbf00;
    transition-duration: 0.2s;
    cursor: pointer;
    align-items: right;
}
#book:hover{

}

/*Kasten um das Buchungsende*/
.buchungsende{
    width: 350px;
    height: 145px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/*Anmeldung-/Registrierungsbutton*/
.reglog{
    background-color: #FFFFFF;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 32px;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    width: 300px;
    height:60px;
    border: solid #e9e9e9 ;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.reglog:hover{
    color: #ffbf00;
}

/*Button zum Abschluss der Buchung*/
.buchungsabschluss{
    background-color: #ffbf00;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 32px;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    width: 300px;
    height:60px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}